.pagewrapper{
    background: linear-gradient(to bottom, #161b40, #3e4cb5);
    height: 100%; 
}

.containerHORIZONTAL{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:10px;
    padding: 10px;
    align-items: center;
    background: transparent;
    box-sizing: border-box;
}

.sidebar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:10px;
    padding: 10px;
    align-items: center;
    background: transparent;
    box-sizing: border-box;
    width: fit-content;
}

.box{
    background-color: #43bee5;
    padding: 2%;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1 0 calc(33.3333% - 10px);
    align-items: center;
    justify-content: center;
}
.box input {
    text-align: center;
}

.vbox{
    background-color: #41b853;
    text-align: center;
    box-sizing: border-box;
    flex: 1;
    padding: 12%;
    width: fit-content;
    height: 100%;
}
.vbox input {
    text-align: center;
}
.resultDiv{
    all: unset;
    background-color: #e6e614;
    font-size: 14pt;
}

@media (max-width: 768px) {
    .containerHORIZONTAL{
        justify-content: center;
    }
    .sidebar{
        width:calc(100%-20px);
    }
    .box {
        flex: 0 0 calc(50% - 10px); /* 2 per row on smaller screens */
    }
}

@font-face {
    font-family: 'alegreyasans-bold';
    src: url('https://strathcyde.github.io/whatgrade/alegreyasans-bold-webfont.ttf') format('truetype');
    }

    .mainheading{
        font-family: 'alegreyasans-bold';
        font-size: 36pt;
        margin-bottom: -1%;
        text-decoration: none;
        text-align: center;
        color: white;
    }

    .subheadingBoldSmall{
        font-family: 'alegreyasans-bold';
        font-size: 14pt;
        text-align:center;
    }

@font-face {
    font-family: 'alegreyasans-regular';
    src: url('https://strathcyde.github.io/whatgrade/alegreyasans-regular-webfont.ttf') format('truetype');
    }

    .subheadingLight{
        font-family: 'alegreyasans-regular';
        font-size: 20pt;
        text-align: center;
        font-style: italic;
        padding-bottom: 8;
        border-bottom-style:solid;
        color: white;
        border-color: #41b853;
    }

    .inputbox{
        font-family: 'alegreyasans-regular';
        font-size: 12pt;
        text-align: center;
    }
