@font-face {
    font-family: 'alegreyasans-bold';
    src: url(https://strathcyde.github.io/whatgrade/alegreyasans-bold-webfont.ttf) format('truetype');
    }

    .mainheading{
      font-family: 'alegreyasans-bold';
      font-size: 22pt;
    }
    